parameters:
  level: 5
  paths:
    - "../../src"
    - "../../tests"
  excludePaths:
    - "../../src/DamianPaginationPhp/Config/SingletonConfig.php"
    - "../../src/DamianPaginationPhp/Support/Facades/Facade.php"
